<!DOCTYPE html>
<html>
  <head>
    <style>
      html, body {
	height: 100%;      
	margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>

	 <h1> New lawyer </h1>
	 <%= gravatar_for(@lawyer) %>
	 <p>
	    	<strong>Name: </strong>
		<%= @lawyer.name %>
	    </p>

	    <p>
	        <strong>Email ID:</strong>
		<%= @lawyer.email_id %>
	    </p>
		
	    <p>
	        <strong>Address:</strong>
		<%= @lawyer.address %>
	    </p>

	    <p>
	    	<strong>College Name </strong>
		<%= @lawyer.college_name %>
	    </p>
	
	    <p>
	    	<strong>Qualiification</strong>
	    	<%= @lawyer.qualification %>
	    </p>

            <p>
                <strong> Gender </strong>
                <%= @lawyer.gender %>
            </p>

       	     <p>
                <strong> DOB_Format_DDMMYYYY </strong>
                <%= @lawyer.dob %>
            </p>

       	     <p>
                <strong> Experience </strong>
                <%= @lawyer.experience %>
             </p>


  	      <p> 
    		<% if logged_in? %>
      		<strong> <%= link_to "Log out", logout_path, method: :delete %> </strong>
    		<% end %>
		</p>

		<%= link_to "Edit", edit_lawyer_path(@lawyer) %>

    		<div id="map"></div>
    		<script>
      		var map;
		function initMap() {
			var myLatLng = {lat: <%= @loc.lat%> , lng: <%=@loc.lng%>};
        		map = new google.maps.Map(document.getElementById('map'), {
				center: myLatLng,
          		zoom: 8
			});	
			
			var marker = new google.maps.Marker({
				position: myLatLng,
				map: map,
				tittle: 'Lawyer'
			});


		}

    		</script>
    		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYORiIJ5dRKf2kThquSzgcaaLd57S9TEc&&callback=initMap"
    		async defer></script>

  	</body>	
</html>
