<div class="Nya Bnda">

	<h1> New lawyer </h1>

	<p>
		<strong>Name</strong>
		<%= @lawyer.name %>
	</p>

	<p>
		<strong>Email ID</strong>
		<%= @lawyer.email_id %>
	</p>
	
	<p>
		<strong> College_Name </strong>
		<%= @lawyer.college_name %>
	</p>


	<p>
		<strong> Qualification </strong>
		<%= @lawyer.qualification %>
	</p>


	<p>
		<strong> Gender </strong>
		<%= @lawyer.gender %>
	</p>

	<p>
		<strong> DOB_Format_DDMMYYYY </strong>
		<%= @lawyer.dob %>
	</p>
	
	<p>
		<strong> Experience </strong>
		<%= @lawyer.experience %>
	</p>


